.headerlevel{
height: 55px;
width: 90px;
padding-top: 5px;
margin-right: 100px;

}

.headerlevelActive{
    height: 55px;
    width: 90px;
    padding-top: 5px;
    margin-right: 5px;
    color: red;
    font-weight: 500;
    }

    .sapperImg{
        height: 55px;
    }